.logo img
{
    width: 100%;
}

.navigation
{
    background-color: #f8f8f8;
    box-shadow: 1px 1px 10px #e4e4e4;
}

.navigation .navigation-list ul
{
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding: 35px 0 0 0;
    float: right;
}

.navigation .navigation-list ul li
{
    padding: 0 30px 0 30px;
}

.navigation .navigation-list ul li a
{
    text-decoration: none;
    color: #7eba23;
    font-size: 16px;
    padding: 0 0 15px 0;
    transition: 0.2s;

}

.navigation .navigation-list ul li a.active
{
    border-bottom: 4px solid;
}

.navigation .navigation-list ul li a:hover
{
    border-bottom: 4px solid;
}
